@model MotorcycleBusinessManagement.Models.Noidungthu

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Noidungthu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sotienthu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sotienthu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Biensoxe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Biensoxe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ghichu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ghichu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdctNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdctNavigation.Idct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdptNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdptNavigation.Idpt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idndt">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
