@model IEnumerable<MotorcycleBusinessManagement.Models.Noidungthu>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sotienthu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Biensoxe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ghichu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdctNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdptNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sotienthu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Biensoxe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ghichu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdctNavigation.Idct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdptNavigation.Idpt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idndt">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idndt">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idndt">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
