@model MotorcycleBusinessManagement.Models.Phieunhapkho
@using MotorcycleBusinessManagement.Models;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DownPDF</title>
    <style>
        .container {
           width: 900px !important;
           height:842px !important;
           margin:auto;
        }
        body{
           font-family: 'Segoe UI', Tahoma, Verdana, sans-serif
        }
        p.title{
           font-weight:bold;
           font-size: 17px;
        }
         p.title2{
           font-weight:bold;
           font-size:20px;
        }
        p.text{
           font-size:15px;
           font-weight:400;
           color:#404040;
        }
        p{
           margin:0px;
        }
        .tbth{
           text-align:left;
           border: 1.5px solid;
           background-color:  #d9d9d9;
        }

        table.tbproduct{
            border-collapse: collapse;
        }

        table.tbproduct tbody .title-tb{
            border: 1.5px solid !important;
        }

        table.tbproduct thead tr th {
           padding:10px;
           font-size:15px;
        }
        table.tbproduct tbody tr td{
           padding:10px;
        }
        .item{
           font-size:15px;
           font-weight:200;
        }
        .item-2{
        font-size:15px;
           font-weight:bold;
        }

        .item-3{
           font-size:15px;
        }
        
        .small-text {
            font-size: 14px;
            color: #404040;
            margin-top: 5px;
        }

        .title-tb td,
        .title-tb th {
            border: 1.5px solid;
        }

         .info-row {
            margin: 12px 18px;
            display: flex;
            align-items: center;
        }

        .label {
            font-weight: bold;
            margin-right: 5px;
            width: auto;
            display: inline-block;
        }
        .info {
            flex: 1;
        }

        .signature {
            position: relative;
            text-align: center;
        }

        .signature-text {
            bottom: 0;
            font-size: 12px;
        }

    </style>
</head>


<body>

    <div class="container">

        <table style="width:100%">
        </table>
        <br />
        <table style="width:100%">
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>
                                <p class="title">CVG Store - Mua bán xe máy</p>
                            </td>
                        </tr>
                        <tr>
                            <td><p class="text">Địa chỉ: 236 Lê Văn Sỹ, Phường 1, Tân Bình, TP.HCM</p></td>
                        </tr>
                        <tr>
                            <td>
                                <p class="text">Email: CVGstoreTanBinh@gmail.com</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="text">Sđt: 0333795190</p>
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="text-align:right">
                    <table style="margin-right:0;margin-left:auto">
                        <tr>
                            <td><p class="title">Số phiếu: <span style="font-size:15px;font-weight:400; color: #404040;font-size:15px; font-weight:400; color: #404040;">@Model.Mapnk</span></p></td>
                        </tr>
                        <tr>
                            <td><p class="text">Ngày: <span id="current-time"></span> </p></td>
                        </tr>
                        <tr>
                            <td><p class="text" style="height: 20px;"></p></td>
                        </tr>
                        <tr>
                            <td><p class="text" style="height: 20px;"> </p></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <p style="padding: 0 337px; margin: 10px 0; font-weight: 700; font-size: 1.65rem;">PHIẾU NHẬP KHO</p>
        <div class="info-row" style="margin-top: 40px;">
            <span class="label">Nhà cung cấp:</span>
            <span class="info">@Model.IdnccNavigation.Tenncc</span>
        </div>
        <div class="info-row">
            <span class="label">Số điện thoại:</span>
            <span class="info">@Model.IdnccNavigation.Dienthoaincc</span>
          
            <span class="label" style="margin-left: 30px;">Emai:</span>
            <span class="info">@Model.IdnccNavigation.Email</span>
            
            @if (@Model.IdnccNavigation.Masothuencc != null)
            {
                <span class="label" style="margin-left: 30px;">Mã số thuế:</span>
                <span class="info">@Model.IdnccNavigation.Masothuencc</span>
            }
        </div>
        <div class="info-row">
            <span class="label">Địa chỉ:</span>
            <span class="info">@Model.IdnccNavigation.Diachincc</span>
        </div>

        <div class="info-row" style="margin-bottom: 20px;">
            <span class="label">Ngày đặt:</span>
            <span class="info">@Html.DisplayFor(modelItem => Model.Ngaynhap)</span>
        </div>
        
        

        <table class="tbproduct" style="width:100%">
            <thead>
                <tr>
                    <th class="tbth" style="width:30px">STT</th>
                    <th class="tbth">Tên xe</th>
                    <th class="tbth" >Màu xe</th>
                    <th class="tbth">Đời xe</th>
                    <th class="tbth" style="width:130px">Số khung</th>
                    <th class="tbth" >Số máy</th>
                    <th class="tbth" >Biển số lúc mua</th>
                    <th class="tbth">Bảo hành</th>
                    <th class="tbth" >Đơn giá</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int stt = 1;
                    double tongtien = 0;
                }

                @foreach (Chitietxe item in ViewBag.ctx)
                {
                    double gianhap;
                    gianhap = Convert.ToDouble(item.Gianhap);
                    tongtien = Convert.ToDouble(item.IdpnkNavigation.Tongtiennhap);
                    <tr class="title-tb">
                        <td style="text-align: center;">@stt</td>
                        <td>@item.IdxeNavigation.Tenxe</td>
                        <td>@item.IdmxNavigation.Tenmx</td>
                        <td>@item.Doixe</td>
                        <td>@item.Sokhung</td>
                        <td>@item.Somay</td>
                        @if (@item.Biensolucmua != null)
                        {
                            <td>@item.Biensolucmua</td>
                        }
                        else
                        {
                            <td>Không có</td>
                        }
                        @if (@item.Thoigianbaohanh == 0)
                        {
                            <td>Không bảo hành</td>
                        }
                        else if (@item.Thoigianbaohanh == 30)
                        {
                            <td>1 tháng</td>
                        }
                        else if (@item.Thoigianbaohanh == 90)
                        {
                            <td>3 tháng</td>
                        }
                        else if (@item.Thoigianbaohanh == 180)
                        {
                            <td>6 tháng</td>
                        }
                        else if (@item.Thoigianbaohanh == 360)
                        {
                            <td>1 năm</td>
                        }
                        else if (@item.Thoigianbaohanh == 720)
                        {
                            <td>2 năm</td>
                        }
                        else if (@item.Thoigianbaohanh == 980)
                        {
                            <td>3 năm</td>
                        }
                        <td style="background-color: #f2f2f2; text-align: right;"><p class="item">@string.Format("{0:#,0}", gianhap)đ</p></td>
                    </tr>
                    stt++;
                }
            </tbody>
        </table>

        <table style="width:100%">
            <tr>
                <td>
                    <table>
                    </table>
                </td>
                <td>
                    <table style="margin-left:65%; margin-top: 15px;">
                        <tr>
                            <td><p class="item-2">Tổng tiền:</p></td>
                            <td style="text-align: right;"><p style="margin-left: 30px;">@string.Format("{0:#,0}", tongtien)đ</p></td>
                        </tr>
                        
                    </table>
                </td>
            </tr>
        </table>

        <table style="width:100%">
            <tr>
                <td>
                    <div class="signature-row" style="margin-top: 30px; margin-bottom: 200px;">
                        <div class="signature">
                            <span class="label">Nhà cung cấp</span>
                            <p class="signature-text">(Ký, ghi rõ họ tên)</p>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="signature-row" style="margin-top: 30px; margin-bottom: 200px;">
                        <div class="signature">
                            <span class="label">Người lập phiếu</span>
                            <p class="signature-text">(Ký, ghi rõ họ tên)</p>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

    </div>

    <script>
        var curDate = new Date();
          
        var curDay = curDate.getDate();
        var curMonth = curDate.getMonth() + 1;
        var curYear = curDate.getFullYear();
        document.getElementById('current-time').innerHTML = curDay + "/" + curMonth + "/" + curYear;
    </script>

</body>
</html>
