@model IEnumerable<MotorcycleBusinessManagement.Models.Phieunhapkho>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/List_Index_Layout.cshtml";
    CarSalesContext _context = new CarSalesContext();
    Account acc = _context.Accounts.Find(Int32.Parse(User.Identity.Name));
}


<style media="(max-width: 576px)">
    .table-responsive td,
    .table-responsive th {
        display: block;
        width: 100%;
        text-align: left;
    }

    .table-responsive tr {
        display: flex;
        flex-direction: column;
    }

    .table-responsive th {
        flex-basis: 10%;
        padding: 0.75rem 0.5rem;
    }

    .table-responsive td {
        flex-basis: 90%;
        padding: 0.75rem 2rem;
    }
</style>
@section Section1{
    <div class="navbar-nav  p-4 p-lg-0">
        <a href="@Url.Action("Trangchu", "Chitietxes")" class="nav-item nav-link " style="font-size:18px"><i class="fas fa-home"></i> Trang chủ</a>
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" style="font-size:18px"><i class="fas fa-list"></i> Danh mục</a>
            <div class="dropdown-menu rounded-0 rounded-bottom m-0">
                <a href="@Url.Action("Index", "Nhacungcaps")" class="dropdown-item" style="font-size:18px"><i class="fas fa-pen-nib"></i> Nhà cung cấp</a>
                <a href="@Url.Action("Index", "Khachhangs")" class="dropdown-item " style="font-size:18px"><i class="fas fa-pen-nib"></i> Khách hàng</a>
                @if (User.IsInRole("Admin"))
                {
                    <a href="@Url.Action("Index", "Nhanviens")" class="dropdown-item" style="font-size:18px"><i class="fas fa-pen-nib"></i> Nhân viên</a>
                    <a href="@Url.Action("Index", "Accounts")" class="dropdown-item" style="font-size:18px"><i class="fas fa-pen-nib"></i> Tài khoản</a>
                }
                <a href="@Url.Action("Index", "Httts")" class="dropdown-item" style="font-size:18px"><i class="fas fa-pen-nib"></i> Hình thức thanh toán</a>

            </div>
        </div>
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" style="font-size:18px"><i class="fas fa-motorcycle"></i> Thông tin xe</a>
            <div class="dropdown-menu rounded-0 rounded-bottom m-0">
                <a href="@Url.Action("Index", "Loaixes")" class="dropdown-item" style="font-size:18px"><i class="fas fa-pen-nib"></i> Thể loại xe</a>
                <a href="@Url.Action("Index", "Xes")" class="dropdown-item" style="font-size:18px"><i class="fas fa-pen-nib"></i> Tên xe</a>
                <a href="@Url.Action("Index", "Mauxes")" class="dropdown-item" style="font-size:18px"><i class="fas fa-pen-nib"></i> Màu xe</a>

            </div>
        </div>
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" style="font-size:18px"><i class="fas fa-tasks"></i> Quản lý</a>
            <div class="dropdown-menu rounded-0 rounded-bottom m-0">
                <a href="@Url.Action("Index", "Phieunhapkhoes")" class="dropdown-item active" style="font-size:18px"><i class="fas fa-pen-nib"></i> Nhập xe</a>
                <a href="@Url.Action("Index", "Phieuxuats")" class="dropdown-item" style="font-size:18px"><i class="fas fa-pen-nib"></i> Bán xe</a>
                <a href="@Url.Action("Index", "Phieuchitiennhapxes")" class="dropdown-item" style="font-size:18px"><i class="fas fa-pen-nib"></i> Phiếu chi tiền nhập xe</a>
                <a href="@Url.Action("Index", "Phieuthutienbanxes")" class="dropdown-item" style="font-size:18px"><i class="fas fa-pen-nib"></i> Phiếu thu tiền bán xe</a>
            </div>
        </div>
        <a href="@Url.Action("Tonkho", "Chitietxes")" class="nav-item nav-link" style="font-size:18px"><i class="fas fa-chart-line"></i> Báo cáo</a>
        @if (acc == null)
        {
            <a href="@Url.Action("Login", "Accounts")" class="nav-item nav-link" style="font-size:18px"><i class="fas fa-user"></i> Đăng nhập</a>
        }
        else
        {
            @if (User.IsInRole("Admin"))
            {
                <a href="@Url.Action("Edit", "Accounts", new { id = @acc.Idacc })" class="nav-item nav-link" style="font-size:18px"><i class="fas fa-user"></i> @acc.Username</a>
            }
            else
            {
                <a href="@Url.Action("EditUser", "Accounts", new { id = @acc.Idacc })" class="nav-item nav-link" style="font-size:18px"><i class="fas fa-user"></i> @acc.Username</a>
            }

            <a href="@Url.Action("Logout", "Accounts")" class="nav-item nav-link" style="font-size:18px; color:red"><i class="fas fa-undo"></i> Đăng xuất</a>
        }
    </div>
}
@section Section2{
    <img src="~/image/xe.png" style="display: inline-block; width: 8%; height: 10%; float: left;" />
    <img src="~/image/xe2.png" style="display: inline-block; width: 8%; height: 10%; float: right;transform: translateY(20%)" />
    <div class="container-lg">
        <div style="border: 3px solid #1a17d4; margin-top:30px; border-radius: 20px;">
            <ul class="nav nav-pills">
                <li class="nav-item" style="width:33%">
                    <a class="nav-link" style="text-align:center;" href="@Url.Action("Index", "Phieunhapkhoes")"><i class="fa fa-list-alt"></i> Danh sách phiếu nhập xe mới</a>
                </li>
                @* <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Dropdown</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Link 1</a>
                        <a class="dropdown-item" href="#">Link 2</a>
                        <a class="dropdown-item" href="#">Link 3</a>
                    </div>
                </li> *@
                <li class="nav-item" style="width:34%">
                    <a class="nav-link active" style="text-align:center;" href="@Url.Action("IndexXeCu", "Phieunhapkhoes")"><i class="fa fa-list-alt"></i> Danh sách phiếu nhập xe cũ</a>
                </li>
                <li class="nav-item" style="width:33%">
                    <a class="nav-link" style="text-align:center;" href="@Url.Action("IndexXeDaNhap", "Phieunhapkhoes")"><i class="fa fa-eye-slash"></i> Danh sách xe đã nhập</a>
                </li>
            </ul>
        </div>
        @if (@TempData["AlertSuccessMessage"] != null)
        {

            <script>
                Swal.fire({
                    icon: 'success',
                    title: 'Tạo thành công!',
                    text: 'Mã @TempData["AlertSuccessMessage"] đã được tạo thành công',
                    showCloseButton: true,
                    confirmButtonText: 'Đóng'
                });
            </script>

        }
        @if (@TempData["AlertEditMessage"] != null)
        {

            <script>
                Swal.fire({
                    icon: 'success',
                    title: 'Cập nhật thành công!',
                    text: 'Mã @TempData["AlertEditMessage"] đã được cập nhật thành công',
                    showCloseButton: true,
                    confirmButtonText: 'Đóng'
                });
            </script>

        }
        @if (@TempData["AlertDeleteMessage"] != null)
        {

            <script>
                Swal.fire({
                    icon: 'success',
                    title: 'Xóa thành công!',
                    text: 'Mã @TempData["AlertSuccessMessage"] đã được xóa thành công',
                    showCloseButton: true,
                    confirmButtonText: 'Đóng'
                });
            </script>

        }
        @if (@TempData["AlertDontDeleteMessage"] != null)
        {

            <script>
                Swal.fire({
                    icon: 'danger',
                    title: 'Không thể xóa!',
                    text: 'Mã @TempData["AlertDontDeleteMessage"] không thể xóa do đã bán',
                    showCloseButton: true,
                    confirmButtonText: 'Đóng'
                });
            </script>

        }
        @if (@TempData["AlertpnkMessage"] != null)
        {

            <script>
                Swal.fire({
                    icon: 'warning',
                    title: 'Không tìm thấy!',
                    text: '@TempData["AlertpnkMessage"] không có dữ liệu',
                    showCloseButton: true,
                    confirmButtonText: 'Đóng'
                });
            </script>

        }
        @if (@TempData["AlertErrorMessage"] != null)
        {

            <script>
                Swal.fire({
                    icon: 'warning',
                    title: 'Không có dữ liệu!',
                    text: '@TempData["AlertErrorMessage"] không thể thêm được!!!',
                    showCloseButton: true,
                    confirmButtonText: 'Đóng'
                });
            </script>

        }
        @if (@TempData["AlertxdnMessage"] != null)
        {

            <script>
                Swal.fire({
                    icon: 'warning',
                    title: 'Không tìm thấy!',
                    text: '@TempData["AlertxdnMessage"] không có dữ liệu',
                    showCloseButton: true,
                    confirmButtonText: 'Đóng'
                });
            </script>

        }
        
        
        <div class="tab-content" id="mytabcontent">
            <div class="tab-pane fade show active" id="test" role="tabpanel" aria-labelledby="test-tab">
                <form method="post">
                    <div style="display:flex;margin-top:30px">
                        <div>
                            <input style="height:40px; width:300px;border-radius: 20px 0px 0px 20px;" type="search" name="searchString" placeholder="Tìm kiếm...">
                            <button type="submit" class="search-btn"><i class='fas fa-search'></i></button>
                        </div>
                        <style>
                            .search-btn {
                                color: #9ca3af;
                                height: 40px;
                                width: 40px;
                                background: #9fc2fd;
                                border-radius: 0px 20px 20px 0px;
                            }
                        </style>
                        <div style="margin-left:30px;display: flex">
                            <div style="display: flex">
                                <label class="col-form-label" style="width:120px">Từ ngày:</label>
                                <input type="date" name="fromDate" class="form-control" />
                            </div>
                            <div style="display: flex; margin-left:20px">
                                <label class="col-form-label" style="width:120px">Đến ngày:</label>
                                <input type="date" name="toDate" class="form-control" />
                            </div>
                            <button style="margin-left:20px" type="submit" class="btn btn-primary">Lọc</button>
                        </div>
                        <div style="margin-left: 20px;
                            border-radius: 20px;
                            height: 40px;
                            font-size: 20px;
                            border: 2px;
                            background: white;
                            width: 150px;
                            text-align: center;
                            padding-top: 5px;
                            box-shadow: rgba(44, 187, 99, .2) 0 -5px 18px">
                            <a href="@Url.Action("ExportExcelPNOld", "Phieunhapkhoes")" title="In danh sách phiếu nhập" class="btn-download" style="text-decoration:none;color: #15b72a;">
                                <i class='fa fa-file-excel'></i>
                                <span class="text">Xuất Excel</span>
                            </a>
                        </div>
                    </div>
                    <div style="display:flex;margin-top:30px; margin-left:20%">
                        <div style="display: flex">
                            <label class="col-form-label" style="min-width:120px;">Nhà cung cấp:</label>
                            <select id="sample-select" size="5" name="selectncc"
                                    placeholder="--Chọn nhà cung cấp--"
                                    class="py-2">
                                @if (TempData["Nhacungcap"] is List<Nhacungcap> nhaccvip)
                                {
                                    <option value="">Không chọn</option>
                                    foreach (var product in nhaccvip)
                                    {
                                        <option value="@product.Idncc">
                                            @product.Tenncc - @product.Diachincc
                                        </option>
                                    }
                                }
                            </select>
                        </div>

                        <div style="display: flex; margin-left:30px">
                            <label class="col-form-label" style="width:130px; ">Chọn hành động:</label>
                            <select name="trangthai" style="width:200px;height:38px; margin-top:6px;">
                                <option value="">Không chọn</option>
                                <option value="False">Chưa chi</option>
                                <option value="True">Đã chi</option>
                            </select>
                        </div>

                    </div>
                </form>
                <div id="contain_table">
                    <div class="container-md" style="margin-top:18px; margin-bottom:10px; ">
                        <div class="page-header">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12" style="margin-bottom:15px">
                                <h5 class="text-uppercase mb-0 mt-0 page-title">
                                    Danh sách phiếu nhập xe cũ
                                </h5>
                            </div>
                            <div style="float:right; width:30px; height:30px;">
                                <a href="@Url.Action("CreateXeCu","Phieunhapkhoes")" title="Thêm phiếu nhập"
                                   class="btn btn-sm btn-outline-success hover-effect">
                                    <i class='fas fa-plus fa-spin'></i>
                                </a>
                                <style>
                                    .hover-effect {
                                        background-color: #DBC4F0;
                                        border-radius: 10px;
                                        padding: 10px 15px;
                                        transform: translateY(-25px) translateX(-10px);
                                        transition: transform 0.2s ease, box-shadow 0.2s ease;
                                    }

                                        .hover-effect:hover {
                                            transform: translateY(-35px) translateX(-10px); /* Di chuyển nút lên cao một chút */
                                            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Hiển thị bóng đổ */
                                        }
                                </style>
                            </div>
                        </div>
                    </div>
                    <div class="container" style="margin-bottom:10px">
                        <table id="example9" class="table table-hover table-responsive table-responsive-xl">
                            <thead>
                                <tr>
                                    <th style="width:10px">#</th>
                                    <th style="width:115px">
                                        Mã phiếu nhập
                                    </th>
                                    <th style="width:85px">
                                        Ngày nhập
                                    </th>
                                    <th>
                                        Tên nhà cung cấp
                                    </th>
                                    <th style="width:160px">
                                        Tên nhân viên nhập
                                    </th>
                                    <th>Số tiền</th>
                                    <th style="width:70px">
                                        Chi tiền
                                    </th>
                                    <th style="width:100px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int count1 = 1;
                                }
                                @foreach (Chitietxe item in ViewBag.phieuNhapKhoXeCu)
                                {
                                    <tr>
                                        <td id="td_right">@count1</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IdpnkNavigation.Mapnk)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IdpnkNavigation.Ngaynhap)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.IdpnkNavigation.IdnccNavigation.Tenncc)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IdpnkNavigation.IdnvNavigation.Tennv)
                                        </td>
                                        <td style="text-align: right">
                                            @Html.DisplayFor(modelItem => item.IdpnkNavigation.Tongtiennhap)
                                        </td>
                                        @if (item.IdpnkNavigation.Dachi == true)
                                        {
                                            <td style="color:lightgreen">
                                                Đã chi
                                            </td>
                                        }
                                        else if (item.IdpnkNavigation.Dachi == false)
                                        {
                                            <td style="color:orangered">
                                                Chưa chi
                                            </td>
                                        }
                                        <td id="td_center">
                                            <a asp-action="Edit" asp-route-id="@item.Idpnk" class="btn btn-primary btn-sm mb-1" title="Cập nhật phiếu nhập">
                                                <i class="fas fa-pen text-white"></i>
                                            </a>
                                            <a href="@Url.Action("Details", "Phieunhapkhoes", new { id = item.Idpnk })" class="btn btn-info btn-sm mb-1" title="Chi tiết phiếu nhập">
                                                <i class="fas fa-info-circle text-white"></i>
                                            </a>

                                            <a asp-action="Delete" asp-route-id="@item.Idpnk" class="btn btn-danger btn-sm mb-1" title="Xóa">
                                                <i class="fas fa-trash text-white"></i>
                                            </a>
                                        </td>
                                        @{
                                            count1++;
                                        }
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive">
                        <table class="table custom-table">
                            <tbody>

                                <tr>
                                    <td class="col-8 py-3"
                                        style="text-align: right; font-weight: bold; padding-top:5px">
                                        <i class="fas fa-dollar-sign" style="color:#00cc7a;"></i> Tổng tiền
                                    </td>
                                    @* <td class="col-4">
                                <input oninput="formatTongTien(this)" value="@ViewBag.tongTienXuat" class="tongTien form-control-plaintext"
                                readonly type="text">
                                </td> *@
                                    <td class="col-4">
                                        <input class="tongTienNhapXeCu form-control-plaintext" readonly type="text">
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                        <script>
                            function formatNumber(number) {
                                return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                            }

                            // Load dữ liệu và đặt giá trị cho input
                            document.addEventListener("DOMContentLoaded", function () {
                                var tongTienNhapXeCu = @Json.Serialize(ViewBag.tongTienNhapXeCu);
                                var formattedTongTien = formatNumber(tongTienNhapXeCu);

                                // Đặt giá trị cho input
                                document.querySelector('.tongTienNhapXeCu').value = formattedTongTien;
                            });
                        </script>
                    </div>
                </div>

            </div>
        </div>
    </div>
}
