@model MotorcycleBusinessManagement.Models.Account

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/List_Index_Layout.cshtml";
    CarSalesContext _context = new CarSalesContext();
    Account acc = _context.Accounts.Find(Int32.Parse(User.Identity.Name));
}



@section Section1{
    <div class="navbar-nav  p-4 p-lg-0">
        <a href="@Url.Action("Trangchu", "Chitietxes")" class="nav-item nav-link " style="font-size:18px">Trang chủ</a>
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" style="font-size:18px">Danh mục</a>
            <div class="dropdown-menu rounded-0 rounded-bottom m-0">
                <a href="@Url.Action("Index", "Nhacungcaps")" class="dropdown-item" style="font-size:18px">Nhà cung cấp</a>
                <a href="@Url.Action("Index", "Khachhangs")" class="dropdown-item" style="font-size:18px">Khách hàng</a>
                @if (User.IsInRole("Admin"))
                {
                    <a href="@Url.Action("Index", "Nhanviens")" class="dropdown-item" style="font-size:18px"><i class="fas fa-pen-nib"></i> Nhân viên</a>
                    <a href="@Url.Action("Index", "Accounts")" class="dropdown-item active" style="font-size:18px"><i class="fas fa-pen-nib"></i> Tài khoản</a>
                }
                <a href="@Url.Action("Index", "Httts")" class="dropdown-item" style="font-size:18px">Hình thức thanh toán</a>

            </div>
        </div>
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" style="font-size:18px">Thông tin xe</a>
            <div class="dropdown-menu rounded-0 rounded-bottom m-0">
                <a href="@Url.Action("Index", "Loaixes")" class="dropdown-item" style="font-size:18px">Thể loại xe</a>
                <a href="@Url.Action("Index", "Xes")" class="dropdown-item" style="font-size:18px">Tên xe</a>
                <a href="@Url.Action("Index", "Mauxes")" class="dropdown-item" style="font-size:18px">Màu xe</a>

            </div>
        </div>
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" style="font-size:18px">Quản lý</a>
            <div class="dropdown-menu rounded-0 rounded-bottom m-0">
                <a href="@Url.Action("Index", "Phieunhapkhoes")" class="dropdown-item" style="font-size:18px">Nhập xe</a>
                <a href="@Url.Action("Index", "Phieuxuats")" class="dropdown-item" style="font-size:18px">Bán xe</a>
                <a href="@Url.Action("Index", "Phieuchitiennhapxes")" class="dropdown-item" style="font-size:18px">Phiếu chi tiền nhập xe</a>
                <a href="@Url.Action("Index", "Phieuthutienbanxes")" class="dropdown-item" style="font-size:18px">Phiếu thu tiền bán xe</a>
            </div>
        </div>
        <a href="@Url.Action("Tonkho", "Chitietxes")" class="nav-item nav-link" style="font-size:18px">Báo cáo</a>
        @if (acc == null)
        {
            <a href="@Url.Action("Login", "Accounts")" class="nav-item nav-link" style="font-size:18px"><i class="fas fa-user"></i> Đăng nhập</a>
        }
        else
        {
            @if (User.IsInRole("Admin"))
            {
                <a href="@Url.Action("Edit", "Accounts", new { id = @acc.Idacc })" class="nav-item nav-link" style="font-size:18px"><i class="fas fa-user"></i> @acc.Username</a>
            }
            else
            {
                <a href="@Url.Action("EditUser", "Accounts", new { id = @acc.Idacc })" class="nav-item nav-link" style="font-size:18px"><i class="fas fa-user"></i> @acc.Username</a>
            }

            <a href="@Url.Action("Logout", "Accounts")" class="nav-item nav-link" style="font-size:18px; color:red"><i class="fas fa-undo"></i> Đăng xuất</a>
        }
    </div>
}
@section Section2{
    <div class="container-md" style="border: 4px solid #DBC4F0; border-radius:10px; background-color:#fff;margin-top:10%">
        <div class="page-header" style="margin-top:25px; margin-bottom:30px">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12" style="margin-bottom:15px">
                <h4 class="text-uppercase mb-0 mt-0 page-title">
                    Chi tiết tài khoản
                </h4>
            </div>
            <form method="post" asp-action="Details">
                <input type="hidden" asp-for="Idacc" />
                <div class="row">
                    <div class="col-md-6" style="padding-left:50px">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group" style="display: flex; align-items: center;">
                            <div style="width:150px;">
                                <strong style="margin-right: 10px;">
                                    <span>Tài khoản:</span>
                                </strong>
                            </div>
                            <input asp-for="Username" class="form-control-plaintext" readonly />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" style="display: flex; align-items: center;">
                            <div style="width:150px;">
                                <strong>
                                    <label>Mật khẩu:</label>
                                </strong>
                            </div>
                            <input asp-for="Password" class="form-control-plaintext" readonly />
                        </div>
                    </div>
                    <div class="col-md-6" style="padding-left:50px">
                        <div class="form-group" style="display: flex; align-items: center;">
                            <div style="width:150px">
                                <strong>
                                    <label>Số điện thoại</label>
                                </strong>
                            </div>
                            <input asp-for="Phone" class="form-control-plaintext" readonly />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" style="display: flex;align-items: center;">
                            <div style="width:150px">
                                <strong>
                                    <label asp-for="Email" class="control-label"></label>
                                </strong>
                            </div>
                            <input asp-for="Email" class="form-control-plaintext" readonly />
                        </div>
                    </div>
                    <div class="col-md-6" style="padding-left:50px">
                        <div class="form-group" style="display: flex;align-items: center;">
                            <div style="width:150px">
                                <strong>
                                    <label class="control-label">Vai trò</label>
                                </strong>
                            </div>
                            <input asp-for="Role" class="form-control-plaintext" readonly />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" style="display: flex; margin-top:10px">
                            <div style="width:150px">
                                <strong>
                                    <label class="control-label">Trạng thái</label>
                                </strong>
                            </div>
                            <input type="checkbox" name="Active" checked="@Model.Active" disabled />
                        </div>
                    </div>
                    <div class="col-12" style="display:flex">
                        <div class="col-6 form-group text-right p-2">
                            <a asp-action="Index" class="btn btn-secondary" style="float:right">&nbsp;Về trang chủ&nbsp;</a>
                        </div>
                        <div class="col-6 form-group text-left p-2">
                            <a asp-action="Edit" asp-route-id="@Model?.Idacc" class="btn btn-primary">Cập nhật thông tin</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
}